<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Veros" value="http://192.168.10.126:6848/nuget/" />
    <!--add key="Microsoft" value="http://nuget.org/api/v2/" /-->
    <!--add key="NuGet official package source" value="https://nuget.org/api/v2/" /-->
  </packageSources>
  <disabledPackageSources>
    <add key="NuGet official package source" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>