/src/_ReSharper.M2sys.ClassifierPdf
/src/_ReSharper.M2sys.Libraries
/src/M2sys.Libraries.suo
/src/packages
/src/M2sys.IntegrationTests/obj
/src/M2sys.IntegrationTests/bin
/src/M2sys.ClassifierPdf/_ReSharper.M2sys.ClassifierPdf
/src/M2sys.ClassifierPdf/bin
/src/M2sys.ClassifierPdf/obj
/src/M2sys.ClassifierPdf/StyleCop.Cache
/lib
